{{ define "main" }}
<main class="section-list" id="top">
    {{ if .RegularPages }}
    <div class="news-list">
        {{ range .RegularPages.ByDate.Reverse }}
        <div class="news-row">
            <article class="news-box">
                <div class="news-summary">
                    {{ .Content }}
                </div>
            </article>
            <div class="news-info">
                <div class="news-title">{{ .Title }}</div>
                {{ if .Date }}
                <div class="news-date">{{ .Date.Format "02.01.06" }}</div>
                {{ end }}
            </div>
        </div>
        {{ end }}
        <div class="news-row">
            <div class="partner-list gold-partners">
                {{ range site.Data.partners.gold.sponsors }}
                <div class="news-box">
                    {{ if .url }}<a href="{{ .url }}" target="_blank">{{ end }}
                    {{ if .logo }}
                        {{ $logo := .logo }}
                        {{ if or (hasPrefix $logo "http://") (hasPrefix $logo "https://") }}
                            <img src="{{ $logo }}" alt="{{ .name }}" loading="lazy"/>
                        {{ else }}
                            {{ $res := resources.Get $logo }}
                            {{ if $res }}
                                {{ $isSvg := or (eq $res.MediaType.SubType "svg") (eq $res.MediaType.SubType "svg+xml") }}
                                {{ if $isSvg }}
                                    <img src="{{ $res.RelPermalink }}" alt="{{ .name }}" loading="lazy"/>
                                {{ else }}
                                    {{ $webp := $res.Resize "200x webp picture" }}
                                    {{ $jpg := $res.Resize "200x jpg picture" }}
                                    {{ $avif := $res.Resize "200x avif picture" }}
                                    <picture>
                                        <source srcset="{{ $webp.RelPermalink }} 200w" type="image/webp">
                                        <source srcset="{{ $avif.RelPermalink }} 200w" type="image/avif">
                                        <source srcset="{{ $jpg.RelPermalink }} 200w" type="image/jpeg">
                                        <img src="{{ $webp.RelPermalink }}" alt="{{ .name }}" loading="lazy">
                                    </picture>
                                {{ end }}
                            {{ else }}
                                <img src="{{ $logo }}" alt="{{ .name }}" loading="lazy"/>
                            {{ end }}
                        {{ end }}
                    {{ else }}
                    <span class="partner-name">{{ .name }}</span>
                    {{ end }}
                    {{ if .url }}</a>{{ end }}
                </div>
                {{ end }}
            </div>
            <div class="news-info">
                <div class="news-title">Gold-Partner</div>
            </div>
        </div>
        <div class="news-row">
            <div class="partner-list silver-partners">
                {{ range site.Data.partners.silver.sponsors }}
                <div class="news-box">
                    {{ if .url }}<a href="{{ .url }}" target="_blank">{{ end }}
                    {{ if .logo }}
                        {{ $logo := .logo }}
                        {{ if or (hasPrefix $logo "http://") (hasPrefix $logo "https://") }}
                            <img src="{{ $logo }}" alt="{{ .name }}" loading="lazy"/>
                        {{ else }}
                            {{ $res := resources.Get $logo }}
                            {{ if $res }}
                                {{ $isSvg := or (eq $res.MediaType.SubType "svg") (eq $res.MediaType.SubType "svg+xml") }}
                                {{ if $isSvg }}
                                    <img src="{{ $res.RelPermalink }}" alt="{{ .name }}" loading="lazy"/>
                                {{ else }}
                                    {{ $webp := $res.Resize "200x webp picture" }}
                                    {{ $jpg := $res.Resize "200x jpg picture" }}
                                    {{ $avif := $res.Resize "200x avif picture" }}
                                    <picture>
                                        <source srcset="{{ $webp.RelPermalink }} 200w" type="image/webp">
                                        <source srcset="{{ $avif.RelPermalink }} 200w" type="image/avif">
                                        <source srcset="{{ $jpg.RelPermalink }} 200w" type="image/jpeg">
                                        <img src="{{ $webp.RelPermalink }}" alt="{{ .name }}" loading="lazy">
                                    </picture>
                                {{ end }}
                            {{ else }}
                                <img src="{{ $logo }}" alt="{{ .name }}" loading="lazy"/>
                            {{ end }}
                        {{ end }}
                    {{ else }}
                    <span class="partner-name">{{ .name }}</span>
                    {{ end }}
                    {{ if .url }}</a>{{ end }}
                </div>
                {{ end }}
            </div>
            <div class="news-info">
                <div class="news-title">Silber-Partner</div>
            </div>
        </div>
    </div>
    {{ else }}
    <p>Keine Einträge vorhanden.</p>
    {{ end }}
    <a href="#top" class="scroll-to-top">
        <img src="/images/icon-black.svg" alt="Scroll to top">
    </a>
</main>
{{ end }}
