<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>SM 2026 - {{ .Title }}</title>
  {{ $styles := resources.Get "css/style.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300..500&display=swap" rel="stylesheet">
</head>
<body>
{{ partial "header.html" . }}

<div class="layout-columns">
  <aside class="left-sidebar">
    {{ partial "sponsors.html" . }}
  </aside>

  <section class="main-content">
    {{ block "main" . }}{{ end }}
  </section>
</div>

{{ partial "footer.html" . }}
</body>

</html>
