{{ define "main" }}
<section class="section-list" id="top">
    <h1 class="page-title">{{ .Title }}</h1>
    {{ if .RegularPages }}
    <div class="news-list">
        {{ range .RegularPages.ByDate.Reverse }}
        {{ partial "news-item.html" . }}
        {{ end }}
    </div>
    {{ else }}
    <p>Keine Einträge vorhanden.</p>
    {{ end }}

    <div class="mobile-partners">
        {{ partial "sponsors.html" . }}
    </div>

    <a href="#top" class="scroll-to-top" aria-label="Zurück nach oben">
        <img src="/images/icon-black.svg" alt="Zurück nach oben">
    </a>
</section>
{{ end }}