{{ define "main" }}
<main class="section-list" id="top">
    {{ $paginator := .Paginate (.RegularPages.ByDate.Reverse) }}
    {{ if $paginator.Pages }}
    <div class="news-list">
        {{ range $paginator.Pages }}
        <div class="news-row">
            <article class="news-box">
                {{ if .Params.preview_image_url }}
                <div class="news-image">
                    <img src="{{ .Params.preview_image_url }}" alt="{{ .Title }}">
                </div>
                {{ end }}
                <div class="news-summary{{ if .Params.preview_image_url }} with-image{{ end }}">
                    {{ .Summary }}
                    {{ if .Truncated }}
                    <div class="read-more">
                        <a href="{{ .RelPermalink }}">Weiterlesen...</a>
                    </div>
                    {{ end }}
                </div>
            </article>
            <div class="news-info">
                <div class="news-title">{{ .Title }}</div>
                {{ if .Date }}
                <div class="news-date">{{ .Date.Format "02.01.06" }}</div>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>

    <!-- Pagination navigation -->
    {{ if gt .Paginator.TotalPages 1 }}
    <div class="pagination">
        {{ template "_internal/pagination.html" . }}
    </div>
    {{ end }}

    {{ else }}
    <p>Keine Einträge vorhanden.</p>
    {{ end }}

    <div class="mobile-partners">
        {{ partial "sponsors.html" . }}
    </div>

    <a href="#top" class="scroll-to-top">
        <img src="/images/icon-black.svg" alt="Scroll to top">
    </a>
</main>
{{ end }}
