{{ define "main" }}
<section class="section-list" id="top">
    <h1 class="page-title">{{ .Title }}</h1>
    {{ $paginator := .Paginate (.RegularPages.ByDate.Reverse) }}
    {{ if $paginator.Pages }}
    <div class="news-list">
        {{ range $paginator.Pages }}
        <div class="news-row">
            <article class="news-box">
                {{ if .Params.preview_image_url }}
                <div class="news-image">
                    {{ $imageUrl := .Params.preview_image_url }}
                    {{ $image := resources.Get ($imageUrl) }}
                    {{ $imageWebp := $image.Resize "250x webp picture" }}
                    {{ $imageJpg := $image.Resize "250x jpg picture" }}
                    {{ $imageAvif := $image.Resize "250x avif picture" }}
                    <picture>
                        <source srcset="{{ $imageWebp.RelPermalink }} 200w" type="image/webp">
                        <source srcset="{{ $imageAvif.RelPermalink }} 200w" type="image/avif">
                        <source srcset="{{ $imageJpg.RelPermalink }} 200w" type="image/jpeg">
                        <img class="news-preview-photo" src="{{ $imageWebp.RelPermalink }}" alt="{{ .Title }}"
                             loading="lazy">
                    </picture>
                </div>
                {{ end }}
                <div class="news-summary{{ if .Params.preview_image_url }} with-image{{ end }}">
                    {{ .Summary }}
                    {{ if .Truncated }}
                    <div class="read-more">
                        <a href="{{ .RelPermalink }}">Weiterlesen...</a>
                    </div>
                    {{ end }}
                </div>
            </article>
            <div class="news-info">
                <h2 class="news-title">{{ .Title }}</h2>
                {{ if .Date }}
                <div class="news-date">{{ .Date.Format "02.01.06" }}</div>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>

    <!-- Pagination navigation -->
    {{ if gt .Paginator.TotalPages 1 }}
    <div class="pagination">
        {{ template "_internal/pagination.html" . }}
    </div>
    {{ end }}

    {{ else }}
    <p>Keine Einträge vorhanden.</p>
    {{ end }}

    <div class="mobile-partners">
        {{ partial "sponsors.html" . }}
    </div>

    <a href="#top" class="scroll-to-top" aria-label="Zurück nach oben">
        <img src="/images/icon-black.svg" alt="Zurück nach oben">
    </a>
</section>
{{ end }}
