<header class="site-header">
    <a href="/">
        <img src="/images/logo-left.svg" alt="SM 2026 Logo" class="navbar-logo">
    </a>
    <nav class="main-nav">
        <ul>
            {{ range .Site.Menus.main }}
            <li class="{{ if or ($.Page.IsMenuCurrent "main" .) ($.Page.HasMenuCurrent "main" .) }}active{{ end }}">
            <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
    </nav>

    <a href="https://stvwb.ch/" target="_blank">
        <img src="/images/logo-right.svg" alt="STVWB Logo" class="header-logo right">
    </a>
</header>