<div class="committee-grid">
    {{ range site.Data.organisation.members }}
    <div class="committee-member">
        {{ $image := resources.Get (.imgUrl) }}
        {{ if $image }}
            {{ $isSvg := or (eq $image.MediaType.SubType "svg") (eq $image.MediaType.SubType "svg+xml") }}
            {{ if $isSvg }}
                <img class="committee-photo" src="{{ $image.RelPermalink }}" alt="{{ .name }} Portrait" loading="lazy">
            {{ else }}
                {{ $imageWebp := $image.Resize "400x webp picture" }}
                {{ $imageJpg := $image.Resize "400x jpg picture" }}
                {{ $imageAvif := $image.Resize "400x avif picture" }}
                <picture>
                    <source srcset="{{ $imageWebp.RelPermalink }} 400w" type="image/webp">
                    <source srcset="{{ $imageAvif.RelPermalink }} 400w" type="image/avif">
                    <source srcset="{{ $imageJpg.RelPermalink }} 400w" type="image/jpeg">
                    <img class="committee-photo" src="{{ $imageWebp.RelPermalink }}" alt="{{ .name }} Portrait" loading="lazy">
                </picture>
            {{ end }}
        {{ end }}
        <div class="committee-details">
            <div class="committee-name">{{ .name }}</div>
            <div class="committee-role">{{ .title }}</div>
            <div class="committee-task">{{ .task }}</div>
            <div class="committee-email">{{ .email }}</div>
        </div>
    </div>
    {{ end }}
</div>
