<div class="committee-grid">
    {{ range site.Data.organisation }}
    <div class="committee-member">
        {{ $image := resources.Get (.imgUrl) }}
        {{ $imageWebp := $image.Resize "200x webp picture" }}
        {{ $imageJpg := $image.Resize "200x jpg picture" }}
        {{ $imageAvif := $image.Resize "200x avif picture" }}
        <picture>
            <source srcset="{{ $imageWebp.RelPermalink }} 200w" type="image/webp">
            <source srcset="{{ $imageAvif.RelPermalink }} 200w" type="image/avif">
            <source srcset="{{ $imageJpg.RelPermalink }} 200w" type="image/jpeg">
            <img class="committee-photo" src="{{ $imageWebp.RelPermalink }}" alt="{{ .name }} Portrait" loading="lazy">
        </picture>
        <div class="committee-details">
            <div class="committee-name">{{ .name }}</div>
            <div class="committee-role">{{ .title }}</div>
            <div class="committee-task">{{ .task }}</div>
            <div class="committee-email">{{ .email }}</div>
        </div>
    </div>
    {{ end }}
</div>